name: lint_and_test
# on: [push, pull_request]
on:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - 'LICENSE'
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'LICENSE'
      - '**.md'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.42.1
          args: --enable=golint,gosec,prealloc,gocognit

  test:
    name: Test
    strategy:
      matrix:
        go-version: [1.16.x, 1.17.x]
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: make test-with-coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./profile.out
